name: Build and Release

on:
  push:
    tags:
      - 'v*'

jobs:
  build:
    runs-on: windows-latest

    steps:
    - uses: actions/checkout@v4

    - name: Set up Go
      uses: actions/setup-go@v4
      with:
        go-version: '1.21'

    - name: Build
      run: go build .

    - name: Upload artifacts
      uses: actions/upload-artifact@v4
      with:
        name: msgraphgolangtestingtool-windows
        path: msgraphgolangtestingtool.exe

    - name: Create Release
      uses: softprops/action-gh-release@v1
      with:
        files: msgraphgolangtestingtool.exe
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}